    <?xml version="1.0"?>
    <config>
        <modules>
            <Alex_Hello>
                <version>0.0.1</version>
            </Alex_Hello>
        </modules>
        <frontend>
            <routers>
                <hello>
                    <use>standard</use>
                    <args>
                        <module>Alex_Hello</module>
                        <frontName>hello</frontName>
                    </args>
                </hello>
            </routers>
            <layout>
                <updates>
                    <hello>
                        <file>hello.xml</file>
                    </hello>
                </updates>
            </layout>
        </frontend>   
        <global>
            <models>
                <hello>
                    <class>Alex_Hello_Model</class>
                    <resourceModel>hello_mysql4</resourceModel>
                </hello>
                <hello_mysql4>
                    <class>Alex_Hello_Model_Mysql4</class>
                    <entities>
                        <hello>
                            <table>hello</table>
                        </hello>
                    </entities>
                </hello_mysql4>
            </models>
            <resources>
                <hello_setup>
                    <setup>
                        <module>Alex_Hello</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </hello_setup>
                <hello_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </hello_write>
                <hello_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </hello_read>
            </resources>
            <blocks>
                <hello>
                    <class>Alex_Hello_Block</class>
                </hello>
            </blocks>
            <helpers>
                <hello>
                    <class>Alex_Hello_Helper</class>
                </hello>
            </helpers>
        </global>
    </config>