<?xml version="1.0"?>
<config>
    <modules>
         <Alex_Hello>
            <version>0.1.2</version>
        </Alex_Hello>
    </modules>
    <frontend>
        <routers>
            <hello>
                <use>standard</use>
                <args>
                    <module>Alex_Hello</module>
                    <frontName>hello</frontName>
                </args>
                </hello>
        </routers>
        <layout>
            <updates>
                    <hello>
                      <file>hello.xml</file>
                    </hello>
                </updates>
            </layout>
        </frontend> 
<admin>
        <routers>
            <hello>
                <use>admin</use>
                <args>
                    <module>Alex_Hello</module>
                    <frontName>hello</frontName>
                </args>
            </hello>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <hello module="hello">
                <title>hello</title>
                <sort_order>71</sort_order>                
                <children>
                    <items module="hello">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>hello/adminhtml_hello</action>
                    </items>
                </children>
            </hello>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <hello>
                            <title>Hello Module</title>
                            <sort_order>200</sort_order>
                        </hello>
                    </children>
                </admin>
            </resources>    
        </acl>
        <layout>
            <updates>
                <hello>
                    <file>hello.xml</file>
                </hello>
            </updates>
        </layout>
    </adminhtml>     
        <global>
            <models>
                <hello>
                    <class>Alex_Hello_Model</class>
                    <resourceModel>hello_mysql4</resourceModel>
                </hello>
                <hello_mysql4>
                    <class>Alex_Hello_Model_Mysql4</class>
                    <entities>
                        <hello>
                            <table>hello</table>
                        </hello>
                    </entities>
                </hello_mysql4>
            </models>
            <resources>
                <hello_setup>
                    <setup>
                        <module>Alex_Hello</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </hello_setup>
                <hello_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </hello_write>
                <hello_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </hello_read>
            </resources>
            <blocks>
                <hello>
                    <class>Alex_Hello_Block</class>
                </hello>
            </blocks>
            <helpers>
                <hello>
                    <class>Alex_Hello_Helper</class>
                </hello>
            </helpers>
        </global>
    </config>